<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movie</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="page-add-movie">
<!--<div class="container">-->
<!--    &lt;!&ndash; Заголовок &ndash;&gt;-->
<!--    <h1>Add a New Movie</h1>-->
<!--    <p>Fill in the details below to add a new movie to the database.</p>-->

<!--    &lt;!&ndash; Отображение ошибки &ndash;&gt;-->
<!--    <div th:if="${error}" style="color: red;">-->
<!--        <p th:text="${error}"></p>-->
<!--    </div>-->

<!--    &lt;!&ndash; Форма &ndash;&gt;-->
<!--    <form action="/add-movie" method="post" enctype="multipart/form-data">-->
<!--        &lt;!&ndash; Поле для имени фильма &ndash;&gt;-->
<!--        <input type="text" name="name" placeholder="Movie Name"  required>-->

<!--        &lt;!&ndash; Поле для описания &ndash;&gt;-->
<!--        <textarea name="description" placeholder="Movie Description" required></textarea>-->

<!--        &lt;!&ndash; Поле для загрузки постера &ndash;&gt;-->
<!--        <label class="poster-upload">-->
<!--            <input type="file" name="file" accept="image/*" onchange="previewPoster(event)" required>-->
<!--            <div class="poster-preview">-->
<!--                <p>Upload Poster</p>-->
<!--            </div>-->
<!--        </label>-->

<!--        &lt;!&ndash; Кнопка отправки &ndash;&gt;-->
<!--        <button type="submit">Add Movie</button>-->
<!--    </form>-->

<!--    &lt;!&ndash; Ссылка назад &ndash;&gt;-->
<!--    <a href="/home" class="back">Back to home</a>-->
<!--</div>-->
<div class="container page-add-movie">
    <h1>Add a New Movie</h1>
    <form action="/add-movie" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Movie Name" required>
        <textarea name="description" placeholder="Movie Description" required></textarea>
        <label class="poster-upload">
            <input type="file" name="file" accept="image/*" onchange="previewPoster(event)" required>
            <div class="poster-preview">
                <p>upload Poster</p>
            </div>
        </label>
        <button type="submit">Add Movie</button>
    </form>
    <a href="/home" class="back">Back to home</a>
</div>

<script>
    // Предварительный просмотр изображения
    function previewPoster(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const posterPreview = document.querySelector('.poster-preview');
                posterPreview.innerHTML = `<img src="${e.target.result}" alt="Poster Preview">`;
            };
            reader.readAsDataURL(file);
        }
    }
</script>
</body>
</html>

