<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Find Your Movie</title>-->
<!--    <link rel="stylesheet" href="css/styles.css">-->
<!--</head>-->
<!--<body>-->

<!--&lt;!&ndash; Заголовок &ndash;&gt;-->
<!--<h1>FiND YouR MoviE</h1>-->

<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;    <form id="searchForm" action="/search" method="GET">&ndash;&gt;-->
<!--&lt;!&ndash;        <input id="searchInput" name="query" type="search" placeholder="Search">&ndash;&gt;-->
<!--&lt;!&ndash;        <button type="submit">Search</button>&ndash;&gt;-->
<!--&lt;!&ndash;    </form>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div style="text-align: center;">-->
<!--    <form id="searchForm" action="/search" method="GET" style="display: flex; justify-content: center; align-items: center; gap: 10px;">-->
<!--        <input id="searchInput" class="search-input" name="query" type="search" placeholder="Search" >-->
<!--        <button type="submit" class="search-button" >Search</button>-->
<!--    </form>-->
<!--</div>-->





<!--<h2 th:text="${line}"></h2>-->

<!--&lt;!&ndash; Секция с карточками фильмов &ndash;&gt;-->
<!--<div id="movieContainer" class="movie-container">-->
<!--    &lt;!&ndash; Карточки фильмов будут возвращены с бэкэнда &ndash;&gt;-->
<!--    <div th:each="el : ${movies}" class="movie-card">-->
<!--        <img th:src="${el.posterPath}" alt="Movie Poster">-->
<!--        <p th:text="${el.name}" class="title"></p>-->
<!--        <p th:text="${el.rating}" class="rating"></p>-->
<!--    </div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Your Movie</title>
    <link rel="stylesheet" href="css/stylesHome.css">
</head>
<body class="page-home">


<!-- Заголовок -->
<h1>FiND YouR MoviE</h1>



<!-- Форма поиска -->
<div class="search-container">
    <form id="searchForm" action="/search" method="GET">
        <input id="searchInput" class="search-input" name="query" type="search" placeholder="Search">
        <button type="submit" class="search-button">Search</button>
    </form>
</div>

<h2 th:text="${line}"></h2>


<!-- Секция с карточками фильмов -->
<div id="movieContainer" class="movie-container">
    <!-- Карточки фильмов -->
    <div th:each="el : ${movies}" class="movie-card">
        <img th:src="${el.posterPath}" alt="Movie Poster">
        <p th:text="${el.name}" class="title"></p>
        <p th:text="${el.rating}" class="rating"></p>
    </div>
</div>

</body>
</html>
