<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Your Movie</title>
    <link rel="stylesheet" href="css/stylesHome.css">
</head>
<body class="page-home">


<!-- Заголовок -->
<h1>FiND YouR MoviE</h1>



<!-- Форма поиска -->
<div class="search-container">
    <form id="searchForm" action="/search" method="GET">
        <input id="searchInput" class="search-input" name="query" type="search" placeholder="Search">
        <button type="submit" class="search-button">Search</button>
    </form>
</div>

<h2 th:text="${line}"></h2>


<!-- Секция с карточками фильмов -->
<div id="movieContainer" class="movie-container">
    <!-- Карточки фильмов -->
    <div th:each="el : ${movies}" class="movie-card">
        <a th:href="@{/details/{id}(id=${el.id})}" class="movie-link">
            <img th:src="${el.posterPath}" alt="Movie Poster">
            <p th:text="${el.name}" class="title"></p>
            <p th:text="${el.rating}" class="rating"></p>
        </a>
    </div>
</div>
<br>
</body>
</html>
